<h1>Welcome to our Hacker(ish) News</h1>

<% if logged_in? %>
  <h4>Welcome <%=current_user.name%></h4>
<%else%>
  <h4> <%= link_to "login", '/login' %> | <%= link_to "register", '/users/new' %> </h4>
<%end%>


